---
title: home
redirect_from: "/projects.html"
---
<!DOCTYPE html>
<html lang="en">

<head>
	{% include common-head.html %}
	<title>{{ site.title }}</title>
</head>

<body>
    <div class="container-fluid">
        <h1 align="center" class="header">
            <a href="/">EASHWAR MOHAN</a>
        </h1>
        
		<div class="d-flex justify-content-center">
            <div class="card-deck">
			<!--  Loads the "about" MD page -->
                <div class="card about">
                    {% for page in site.pages %}
                        {% if page.title == "ABOUT" %}
                            {{ page.content }}
                        {% endif %}
                    {% endfor %}
                </div>

			<!-- Resume -->
                <div class="card resume">
                    <a href="/resume" target="_blank" class="card-link">
                        <div class="reslink">
                            <i class="fa fa-file-text fa-lg" aria-hidden="true"></i> Resume
                        </div>
                    </a>
                </div>
            </div>
		</div>

		<!-- Projects -->
		<div class="d-flex justify-content-center">
            <div class="card about-projects border-0">
                <h2>PROJECTS</h2>
                <p>
                    Below are all of the computer and music projects that I've worked on/am working on at the moment. Click a button to filter projects by type!
                </p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active" id="allbtn">
                            <input type="radio" autocomplete="off" checked> All
                        </label>
                        <label class="btn btn-secondary" id="currbtn">
                            <input type="radio" autocomplete="off"> Recent Projects
                        </label>
                        <label class="btn btn-secondary" id="codebtn">
                            <input type="radio" autocomplete="off"> Coding Projects
                        </label>
                        <label class="btn btn-secondary" id="musbtn">
                            <input type="radio" autocomplete="off"> Musical Projects
                        </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="card-columns">
                {% for post in site.posts %}
                <div class="card post {% if post.title contains "current" %}current {% endif %}{% if post.title contains "computer" %}computer {% endif %}{% if post.title contains "musical" %}musical {% endif %}" id={{post.title}}>
                    {{ post.excerpt }}
                    {% if post.content contains site.excerpt_separator %}
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

		{% include footer.html %}

		{% include common-script.html %}

	</div>
</body>

</html>
