---
title: nacvgm
---
<!DOCTYPE html>
<html>

<head>
    {% include common-head.html %}
</head>

<body>
    <h1 align="center">
        <a href="./index.html">
            <span class="firstName">eashwar </span>
            <span class="lastName">mohan</span>
        </a>
    </h1>
    <div class="container-fluid">
        {% include navbar.html %}
    </div>
    <h1>Strategies for Algorithmic Interactive Music Generation and Implementation in Video Games</h1>
    <h3>Alvaro Lopez</h3>
    <blockquote>
        <p>“The more often the audience is exposed to a sonic idea, the less impact it has.”<br> - Bear McCreary</p>
    </blockquote>
    <h3>Re-combinatorial vs. Generative</h3>
    <p>Recombinatorial music is making combinations of segmented tracks designed for vertical and horizontal organization into random containers</p>
    <p>Generative music is where the random containers have melodic constraints (For example, chords), and rhythms and notes are generated, utilising Pseudo-Random Number Generation (PRNG).</p>
    <h3>Generative + Algorithmic music creation:</h3>
    <p>Algorithms for harmony, dynamics, melodic shapes, rhythmic patterns; these interactive algorithms are then used as constraints for generative music.</p>
    <h3>Generative Grammars</h3>
    <p>Use language-based techniques to create a music-theoretic language that will be used for making music.</p>
    <h3>Markov Models</h3>
    <p>You can use interpolation procedures to make branches - multiple different transitions to create different, similarly styled pieces.</p>
    <h3>Conway’s <em>Game of Life</em></h3>
    <p>Cellular Automata Music Generation (CAMus) - Using Game of Life for pitch and duration generation</p>
    <h3>Neural Networks</h3>
    <p>Templating &amp; Training leads to similar musical</p>
    <h3>Google Magenta</h3>
    <p>Using Tensor Flow tech to create compelling music</p>

    {% include common-script.html %}
    {% include footer.html %}

</body>

</html>
