<meta name="robots" content="noindex">
<!-- Icons -->
<script src="https://use.fontawesome.com/3ddc1f836a.js"></script>
<!-- Share Tech Mono-->
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<!-- Josefin Sans and Raleway-->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Icon -->
<link rel="shortcut icon" type="image/png" href="{{site.url}}/images/favicon2.png" />


<title>{{ page.title }} - {{ site.title }}</title>
