<nav class="navbar footer fixed-bottom">
	<div class="col-sm-12">
		<h3>Find me elsewhere on the internet!</h3>
		<div class="extlink">

			<a href="https://soundcloud.com/eashw" target="_blank">
				<i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i>
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://github.com/eashwar" target="_blank" rel="noopener">
				<i class="fa fa-github fa-lg" aria-hidden="true"></i>
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/user/theewok629/" target="_blank" rel="noopener">
				<i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="mailto:hello@eash.fyi">
				<i class="fa fa-envelope fa-lg" aria-hidden="true" rel="noopener"></i>
			</a>
		</div>
	</div>
</nav>
