---
title: blog
---
<!DOCTYPE html>
<html>

<head>
    {% include common-head.html %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles/blog.css">
    {% include common-script.html %}
</head>

<body>
    {{content}}
    <h1 align="center">
        <span class="lastName">BLOG - </span>
        <a href="{{site.url}}">
            <span class="lastName">EASHWAR MOHAN</span>
        </a>
    </h1>

    <div class="container-fluid">
        {% include navbar.html %}
        {% for post in site.posts %}
        <div class="row">
            <div class="col-lg-12 post" id={{post.title}}>
                {{ post.excerpt }}
                {% if post.content contains site.excerpt_separator %}
                    <a href="{{ site.baseurl }}{{ post.url }}">Read more</a><br/><br/>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</body>

</html>
