<!DOCTYPE html>
<html>

<head>
    {% include common-head.html %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles/style.css"> {% include common-script.html %}
</head>

<body>
    {{content}}
    <h1 align="center">
    notes -
    <a href="{{site.url}}">
    <span class="firstName">eashwar </span>
    <span class="lastName">mohan</span>
    </a>
  </h1> {% include navbar.html %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" id="post">
                <h1>Jan 9th: Propositional Equivalencies and Logic Puzzles</h1>
                <h3>Logic Puzzle 1</h3>
                <p>You ask Alice what she is, but can’t hear her. You ask Bob what Alice said.</p>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Alice</strong></th>
                            <th><strong>Bob</strong></th>
                            <th><strong>Carol</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TT</td>
                            <td>TT</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>TT</td>
                            <td>TT</td>
                            <td>L</td>
                        </tr>
                        <tr>
                            <td>TT</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>TT</td>
                            <td>L</td>
                            <td>L</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>TT</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>TT</td>
                            <td>L</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>L</td>
                        </tr>
                    </tbody>
                </table>
                <p>Bob says “Alice said she is a liar”.</p>
                <p>Alice would have said she was a truthteller regardless of who she is, so Bob must be a liar.</p>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Alice</strong></th>
                            <th><strong>Bob</strong></th>
                            <th><strong>Carol</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TT</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>TT</td>
                            <td>L</td>
                            <td>L</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>L</td>
                        </tr>
                    </tbody>
                </table>
                <p>Then Carol says that Bob is a liar. We corroborate her story, meaning Carol is a truthteller.</p>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Alice</strong></th>
                            <th><strong>Bob</strong></th>
                            <th><strong>Carol</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TT</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                    </tbody>
                </table>
                <p>Finally, Carol states that Alice is a liar. We know that Carol tells the truth, so we have our answer.</p>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Alice</strong></th>
                            <th><strong>Bob</strong></th>
                            <th><strong>Carol</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>L</td>
                            <td>L</td>
                            <td>TT</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Logic Puzzle 2</h3>
                <p>You arrive at a pair of gates - one leading to paradise, one leading to death. In front of the gates is one liar and one truthteller. Asking only one question, can you know which gate is the correct one?</p>
                <p>Ask what the other one would say.</p>
                <h3>Logic Puzzle 3</h3>
                <p>On a new island, people lie on Tuesdays, Thursdays and Saturdays.</p>
                <h2>Translating English into Logic</h2>
                <ul>
                    <li>You can major in CSE only if you pass EECS 203.</li>
                </ul>
                <p><em>p = You can major in CSE,   q = you pass EECS 203</em></p>
                <p><span class="math"><script type="math/tex">p \to q</script></span></p>
                <ul>
                    <li>You cannot major in CSE unless you pass EECS 203.</li>
                </ul>
                <p><span class="math"><script type="math/tex">\neg q</script></span> <span class="math"><script type="math/tex">\to</script></span> <span class="math"><script type="math/tex">\neg p</script></span></p>
                <ul>
                    <li>Have your iClicker whenever you attend class.</li>
                </ul>
                <p><em>p = have your iClicker,   q = you attend class</em></p>
                <p><span class="math"><script type="math/tex">q \to p</script></span> is correct. <span class="math"><script type="math/tex">\neg p \to \neg q</script></span> is called the <strong>contrapositive</strong> and is also true.</p>
                <p><strong>Tautologies</strong> are propositions that are <strong>always true</strong>. Example: <span class="math"><script type="math/tex">\neg p \lor p</script></span><br>
                    <strong>Contradictions</strong> are propositions that are <strong>always false</strong> Example: <span class="math"><script type="math/tex">\neg p \land p</script></span></p>
                <p>Two compound propositions <span class="math"><script type="math/tex">p</script></span> and <span class="math"><script type="math/tex">q</script></span> are <strong>logically equivalent</strong> if and only if they have the same truth table,
                    i.e. <span class="math"><script type="math/tex">p \leftrightarrow q</script></span> is a tautology.</p>
                <h3>Proving Logical Equivalence</h3>
                <ol>
                    <li>If my nose is cold then I am unhappy.</li>
                    <li>If I’m happy then my nose isn’t cold.</li>
                    <li>My nose is not cold or I’m unhappy.</li>
                </ol>
                <p><em>p = my nose is cold,   q = I am unhappy</em></p>
                <table>
                    <thead>
                        <tr>
                            <th><span class="math"><script type="math/tex">p</script></span></th>
                            <th><span class="math"><script type="math/tex">q</script></span></th>
                            <th><span class="math"><script type="math/tex">p \to q</script></span></th>
                            <th><span class="math"><script type="math/tex">\neg q \to \neg p</script></span></th>
                            <th><span class="math"><script type="math/tex">\neg p \lor q</script></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                        </tr>
                        <tr>
                            <td>T</td>
                            <td>F</td>
                            <td>F</td>
                            <td>F</td>
                            <td>F</td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td>F</td>
                            <td>T</td>
                            <td>T</td>
                            <td>T</td>
                        </tr>
                    </tbody>
                </table>
                <h4>De Morgan’s Laws (negating ‘and’ and ‘or’)</h4>
                <ul>
                    <li><span class="math"><script type="math/tex">\neg (p \land q) \equiv \neg p \lor \neg q</script></span></li>
                    <li><span class="math"><script type="math/tex">\neg (p \lor q) \equiv \neg p \land \neg q</script></span></li>
                </ul>
                <hr>
                <h1>Jan 11th: Relational (First-Order) Logic</h1>
                <ul>
                    <li>
                        <p>In <em><strong>propositional logic</strong></em>:</p>
                        <ul>
                            <li>All we have are propositions and connectives, making compound propositions.</li>
                            <li>We learn about deductions and proofs based on the structure of the propositions.</li>
                        </ul>
                    </li>
                    <li>
                        <p>In <em><strong>first-order logic</strong></em>,</p>
                        <ul>
                            <li>We will add objects, properties, and relations.</li>
                            <li>We will be able to make statements about what is true for some, all, or no objects.</li>
                        </ul>
                    </li>
                </ul>
                <h2>Objects and Relations</h2>
                <ul>
                    <li>“Dan is taller than both his mothers, but they’re the same height.”
                        <ul>
                            <li>If we want to use only propositional logic, we need to define 4 propositions:
                                <ul>
                                    <li>p = Dan is taller than Mother 1.</li>
                                    <li>q = Dan is taller than Mother 2.</li>
                                    <li>r = Mother 1 is taller than Mother 2.</li>
                                    <li>s = Mother 2 is taller than Mother 2.</li>
                                </ul>
                            </li>
                            <li>This becomes <span class="math"><script type="math/tex">p \land q \land \neg r \land \neg s</script></span></li>
                        </ul>
                    </li>
                </ul>
                <p>There’s <strong><em>nothing</em></strong> in these statements to show that they’re all essentially the same statement with the people replaced. There’s no ability for abstraction.</p>
                <p>Predicate logic explicitly describes <strong>objects</strong>.</p>
                <ul>
                    <li>Let’s create <em>Dan</em>, <em>M1</em>, and <em>M2</em>.</li>
                </ul>
                <p>And <strong>relations</strong> among objects: <span class="math"><script type="math/tex">T(x,y)=</script></span> "<span class="math"><script type="math/tex">x</script></span> <span class="math"><script type="math/tex">is</script></span>                    <span class="math"><script type="math/tex">taller</script></span> <span class="math"><script type="math/tex">than</script></span> <span class="math"><script type="math/tex">y</script></span>"</p>
                <p>We can now say: <span class="math"><script type="math/tex">T(Dan,M1) \land T(Dan,M2) \land \neg T(M1,M2) \land \neg T(M2,M1)</script></span>.</p>
                <h2>Single-Argument Relations</h2>
                <ul>
                    <li>
                        <p>A relation can have just a single arg.</p>
                        <ul>
                            <li>“<em>If you’re happy, I’m happy.</em>”
                                <ul>
                                    <li>Let <span class="math"><script type="math/tex">H(x)</script></span> = “x is happy.”</li>
                                    <li><span class="math"><script type="math/tex">H(you) \to H(I)</script></span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>A more complex example:</p>
                        <ul>
                            <li><em>“If rain is forecast for Wednesday I’ll buy an umbrella, otherwise I’ll buy a latte.”</em><br> *
                                <span class="math"><script type="math/tex">R(x) =</script></span> “Rain is forecast for <span class="math"><script type="math/tex">x</script></span>.”<br> *
                                <span class="math"><script type="math/tex">B(x, y) =</script></span> "<span class="math"><script type="math/tex">x</script></span> will buy a <span class="math"><script type="math/tex">y</script></span>."</li>
                            <li><span class="math"><script type="math/tex">(R(Wed) \to B(me, umbrella)) \land (\neg R(Wed) \to B(me, latte))</script></span></li>
                        </ul>
                    </li>
                </ul>
                <h2>Predicates and Quantification</h2>
                <ul>
                    <li>
                        <p>How do we write *“<u>Everyone</u> will buy an umbrella.”</p>
                    </li>
                    <li>
                        <p><span class="math"><script type="math/tex">B(Aaron, umbrella) \land B(Abner, umbrella)</script></span> ad infinitum.</p>
                    </li>
                    <li>
                        <p>Problems:</p>
                        <ul>
                            <li>maybe an <em>infinite</em> number of things to list
                                <ul>
                                    <li>In some cases, uncountable infinities.</li>
                                </ul>
                            </li>
                            <li>Not sure who’s in the list.</li>
                        </ul>
                    </li>
                </ul>
                <h3>We can use the Universal Quantifier (<span class="math"><script type="math/tex">\forall</script></span>)! (“for all”, “every”)</h3>
                <p><span class="math"><script type="math/tex">\forall x</script></span> <span class="math"><script type="math/tex">B(x,umbrella)</script></span> is “Everyone will buy an umbrella.”</p>
                <h3>There’s also the EXISTENTIAL QUANTIFIER (<span class="math"><script type="math/tex">\exists</script></span>). (“there exists”, “at least one”, “some”)</h3>
                <p><span class="math"><script type="math/tex">\exists x</script></span> <span class="math"><script type="math/tex">B(x,umbrella)</script></span> is “Someone will buy an umbrella.”</p>
                <p>When we say <span class="math"><script type="math/tex">\forall</script></span> we need to define our “domain of discourse” or “universe of discourse”.</p>
                <ul>
                    <li>It defines the “universe” of all possible <span class="math"><script type="math/tex">x</script></span> in "<span class="math"><script type="math/tex">\forall x</script></span> <span class="math"><script type="math/tex">P(x)</script></span>
                        <ul>
                            <li>Strictly speaking, <span class="math"><script type="math/tex">x</script></span> can be <strong>anythiing</strong>.</li>
                            <li>By explicitly specifying our domain, we can focus on one “type” (in the umbrella case, people would be a good domain of discourse).</li>
                        </ul>
                    </li>
                </ul>
                <h2>Translating English <span class="math"><script type="math/tex">\to</script></span> Quantifications</h2>
                <ul>
                    <li>
                        <p>“everyone will buy an umbrella or a raincoat”</p>
                        <ul>
                            <li><span class="math"><script type="math/tex">\forall x</script></span> <span class="math"><script type="math/tex">(B(x,umbrella) \lor B(x, raincoat))</script></span></li>
                        </ul>
                    </li>
                    <li>
                        <p>“everyone will buy an umbrella or everyone will buy a raincoat”</p>
                        <ul>
                            <li><span class="math"><script type="math/tex">\forall x</script></span> <span class="math"><script type="math/tex">B(x,umbrella) \lor \forall y</script></span> <span class="math"><script type="math/tex">B(y, raincoat)</script></span>
                                <ul>
                                    <li>To reduce confusion of a variable’s scope, use different variables when changing scopes.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>“no one will buy both a raincoat and umbrella”</p>
                        <ul>
                            <li><span class="math"><script type="math/tex">\neg \exists x</script></span> <span class="math"><script type="math/tex">(B(x,umbrella) \land B(x,raincoat))</script></span></li>
                        </ul>
                    </li>
                    <li>
                        <p>“everyone has a car or knows someone with a car.”</p>
                        <ul>
                            <li>Let <span class="math"><script type="math/tex">C(x) =</script></span> "<span class="math"><script type="math/tex">x</script></span> has a car"</li>
                            <li>Let <span class="math"><script type="math/tex">K(x, y) =</script></span> "<span class="math"><script type="math/tex">x</script></span> knows <span class="math"><script type="math/tex">y</script></span>"</li>
                        </ul>
                        <p><span class="math"><script type="math/tex">\forall x</script></span> <span class="math"><script type="math/tex">\exists y</script></span> <span class="math"><script type="math/tex">[C(x) \lor (K(x,y) \land C(y))]</script></span></p>
                    </li>
                </ul>
                <h2>Quantifications to English</h2>
                <span class="math"><script type="math/tex; mode=display">\exists x \forall y \forall z[(y \neq z \land K(x,y) \land K(x,z)) \to \neg K(y,z)], where K(x,y) = "x\space knows \space y"
</script></span>
                <p>“Someone knows a group of people where each pair of people do not know each other.”</p>
                <h2>Logical Equivalencies (<span class="math"><script type="math/tex">\equiv</script></span>)</h2>
                <p>Two statements that are always the same.</p>
                <p>For example:</p>
                <span class="math"><script type="math/tex; mode=display">\neg\forall x$ $P(x) \equiv\exists x$ $\neg P(x)
</script></span>
                <ul>
                    <li>There is an x for which <span class="math"><script type="math/tex">P(x)</script></span> is false.</li>
                </ul>
                <span class="math"><script type="math/tex; mode=display">\neg\exists x$ $P(x) \equiv \forall x \neg P(x)
</script></span>
                <ul>
                    <li>For every x, <span class="math"><script type="math/tex">P(x)</script></span> is false.</li>
                </ul>
                <h3>more translations</h3>
                <ul>
                    <li>
                        <p>Every two people have a freind in common.<br> Let <span class="math"><script type="math/tex">F(x,y) = x</script></span>is a friend with<span class="math"><script type="math/tex">y</script></span>.<br>
                            <span class="math"><script type="math/tex">\forall x \forall y \exists z [x \neq y \to (F(x,z) \land F(y,z)]</script></span></p>
                    </li>
                    <li>
                        <p>“There is a person in this class all of whose friends in this class will get As”<br>
                            <span class="math"><script type="math/tex">C(x)</script></span>: "<span class="math"><script type="math/tex">x</script></span> is in this class"<br>
                            <span class="math"><script type="math/tex">F(x,y)</script></span>: "<span class="math"><script type="math/tex">x</script></span> and <span class="math"><script type="math/tex">y</script></span> are friends"<br>
                            <span class="math"><script type="math/tex">A(x)</script></span>: "<span class="math"><script type="math/tex">x</script></span> will get an A"</p>
                    </li>
                </ul>
                <p><span class="math"><script type="math/tex">\exists x \forall y C(x) \land [F(x,y) ^ C(y) \to A(y)]</script></span><br>
                    <span class="math"><script type="math/tex">\exists x \forall y C(x) \land [F(x,y) \to(C(y) \to A(y))]</script></span><br> Both of these statements are correct translations.</p>
                <hr>
                <h1>Jan 16th: Introduction to Proofs</h1>
                <p>An <strong>argument</strong> for a statement S is a sequence of statements ending with S.<br> We call S the <strong>conclusion</strong> and all the other statements the <strong>premises</strong>.<br> The argument is <strong>valid</strong>                    if whenever all of the premises are true, the conclusion is also true.<br>
                    <strong>Proofs</strong> are <strong>valid arguments</strong> that establish the truth of mathematical statements.</p>
                <h2>Introduction Rules</h2>
                <h4><span class="math"><script type="math/tex">\land</script></span> introduction</h4>
                <p><span class="math"><script type="math/tex">p</script></span><br>
                    <span class="math"><script type="math/tex">q</script></span><br> __
                    <br>
                    <span class="math"><script type="math/tex">\therefore p \land q</script></span></p>
                <h4><span class="math"><script type="math/tex">\lor</script></span> introduction</h4>
                <p><span class="math"><script type="math/tex">p</script></span><br> __
                    <br>
                    <span class="math"><script type="math/tex">\therefore p \lor q</script></span></p>
                <h4><span class="math"><script type="math/tex">\to</script></span> introduction</h4>
                <p><span class="math"><script type="math/tex">p</script></span><br>
                    <span class="math"><script type="math/tex">.</script></span><br>
                    <span class="math"><script type="math/tex">.</script></span><br>
                    <span class="math"><script type="math/tex">q</script></span><br> __
                    <br>
                    <span class="math"><script type="math/tex">\therefore p \to q</script></span></p>
                <p><strong>There are more in the book!</strong></p>
                <h2>Elimination Rules</h2>
                <h4><span class="math"><script type="math/tex">\land</script></span> elimination</h4>
                <p><span class="math"><script type="math/tex">p \land q</script></span><br> __
                    <br>
                    <span class="math"><script type="math/tex">\therefore p</script></span></p>
                <h4><span class="math"><script type="math/tex">\to</script></span> elimination</h4>
                <p><span class="math"><script type="math/tex">p \to q</script></span><br>
                    <span class="math"><script type="math/tex">p</script></span><br> __
                    <br>
                    <span class="math"><script type="math/tex">\therefore q</script></span></p>
                <p><strong>There are more in the book!</strong></p>
                <hr>
                <h1>Jan 18th: Proof Methods and Strategy</h1>
                <h3>Inferences Involving Quantifiers</h3>
                <ul>
                    <li><span class="math"><script type="math/tex">P(c)</script></span> allows us to infer that <span class="math"><script type="math/tex">\therefore\exists x P(x)</script></span></li>
                    <li><span class="math"><script type="math/tex">\forall x P(x)</script></span> allows us to infer that <span class="math"><script type="math/tex">\therefore P(c)</script></span></li>
                    <li>If we state <span class="math"><script type="math/tex">\exists x P(x)</script></span> we can write a box saying (Let <span class="math"><script type="math/tex">c P(c)</script></span>. —&gt; <span class="math"><script type="math/tex">q</script></span>).
                        If we can arrive at the proposition <span class="math"><script type="math/tex">q</script></span> in the box, we can conclude <span class="math"><script type="math/tex">\therefore q</script></span> outside of the box too.</li>
                    <li>Finally; if within a box we start with (<span class="math"><script type="math/tex">c</script></span> and then reach the conclusion that <span class="math"><script type="math/tex">P(c)</script></span>) we can say <span class="math"><script type="math/tex">\therefore\forall x P(x)</script></span></li>
                </ul>
                <h3>example</h3>
                <ol>
                    <li><span class="math"><script type="math/tex">\forall x (B(x) \to A(x))</script></span> (premise i)</li>
                    <li><span class="math"><script type="math/tex">\exists x B(x)</script></span> (premise 2)<br> (start box)</li>
                    <li><span class="math"><script type="math/tex">c B(c)</script></span> (assumption, c is a specific person)</li>
                    <li><span class="math"><script type="math/tex">B(c) \to A(c)</script></span> (<span class="math"><script type="math/tex">\forall</script></span>-elim, 1)</li>
                    <li><span class="math"><script type="math/tex">A(c)</script></span> (<span class="math"><script type="math/tex">\to</script></span>-elim, 3,4)</li>
                    <li><span class="math"><script type="math/tex">\exists x A(x)</script></span> (<span class="math"><script type="math/tex">\exists</script></span>-intro, 5)<br> (close box)</li>
                    <li><span class="math"><script type="math/tex">\exists x A(x)</script></span> (<span class="math"><script type="math/tex">\exists</script></span>-elim, 2,3-6) (<strong>CONCLUSION</strong>)</li>
                </ol>
                <h3>inference example</h3>
                <ol>
                    <li><span class="math"><script type="math/tex">\forall x \forall y(P(x)\to Q(y))</script></span> (premise)</li>
                    <li><span class="math"><script type="math/tex">\exists x P(x)</script></span> (premise)<br> (open box)</li>
                    <li><span class="math"><script type="math/tex">y_0</script></span><br> (open box)</li>
                    <li><span class="math"><script type="math/tex">x_0 P(x_0)</script></span> (assumption)</li>
                    <li><span class="math"><script type="math/tex">\forall y P(x_0)\to Q(y)</script></span> (<span class="math"><script type="math/tex">\forall</script></span>-elim 1, <span class="math"><script type="math/tex">x_0</script></span>)</li>
                    <li><span class="math"><script type="math/tex">P(x_0)\to Q(y_0)</script></span> (<span class="math"><script type="math/tex">\forall</script></span>-elim 5,<span class="math"><script type="math/tex">y_0</script></span>)</li>
                    <li><span class="math"><script type="math/tex">Q(y_0)</script></span> (<span class="math"><script type="math/tex">\to</script></span>-elim 6,4)<br> (close box)</li>
                    <li><span class="math"><script type="math/tex">Q(y_0)</script></span> (<span class="math"><script type="math/tex">\exists</script></span>-elim 2,4-7)<br> (close box)</li>
                    <li><span class="math"><script type="math/tex">\forall y Q(y)</script></span> (<span class="math"><script type="math/tex">\forall</script></span>-intro 3-8) (<strong>CONCLUSION</strong>)</li>
                </ol>
                <h3>proof by contradiction</h3>
                <p><strong><u>Claim:</u></strong> There ar einfinitely many prime numbers.<br>
                    <strong><u>Proof (by contradiction:</u></strong></p>
                <ol>
                    <li>Assume the claim is <u><em>false</em></u>.</li>
                    <li>List all primes in increasing order: <span class="math"><script type="math/tex">p_1,p_2,p_n</script></span></li>
                    <li>Define <span class="math"><script type="math/tex">K = (p_1p_2p_3...p_i...p_n)+1</script></span></li>
                    <li>For every <span class="math"><script type="math/tex">p_i,p_i</script></span> <span class="math"><script type="math/tex">K</script></span> does not divide evenly.</li>
                    <li>Hence <span class="math"><script type="math/tex">K</script></span> is prime.</li>
                    <li><span class="math"><script type="math/tex">(p_n \text{is the largest prime})\land(K\text{is prime})\land(K>p_n)\equiv F</script></span></li>
                    <li>Hence there is no finite list of primes.</li>
                </ol>
                <h2>Types of Proof Methods</h2>
                <ul>
                    <li>Proof by Contradiction
                        <ul>
                            <li>To show <span class="math"><script type="math/tex">p</script></span> is true, assume <span class="math"><script type="math/tex">\neg p</script></span> and derive a falsehood</li>
                        </ul>
                    </li>
                    <li>Proof by Construction
                        <ul>
                            <li>Particularly useful for existential statements: <span class="math"><script type="math/tex">\exists x\exists y P(x,y)</script></span></li>
                            <li>Just exhibit one <span class="math"><script type="math/tex">x</script></span> and one <span class="math"><script type="math/tex">y</script></span> that makes <span class="math"><script type="math/tex">P(x,y)</script></span>                                is true.</li>
                        </ul>
                    </li>
                    <li>Proof by Cases
                        <ul>
                            <li>Separate the possibilities into all cases.</li>
                            <li>Show <span class="math"><script type="math/tex">(\text{Case 1}\to p)\land(\text{Case 1}\to p)\land(\text{Case 1}\to p)</script></span></li>
                            <li>this implies <span class="math"><script type="math/tex">p</script></span> must be true.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
