<!DOCTYPE html>
<html>
<head>
    {% include common-head.html %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles/projects.css">
    {% include common-script.html %}
</head>

<body>
  <h1 align="center">
    <a href="{{site.url}}/projects.html">
    <span class="lastName">PROJECTS - EASHWAR MOHAN</span>
  </a>
  </h1>
  <div class="container-fluid">
      {% include navbar.html %}
  <div class="row">
    <div class="col-lg-12" id="post">
        {{content}}
    </div>
  </div>
</div>
</body>

</html>
