---
title: blog
---
<!DOCTYPE html>
<html>

<head>
    {% include common-head.html %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles/style.css" id="theme">
</head>

<body>
    {{content}}
    <h1 align="center">
        <span class="lastName">PROJECTS - </span>
        <a href="{{site.url}}">
            <span class="lastName">EASHWAR MOHAN</span>
        </a>
    </h1>

    <div class="container-fluid">
        {% include navbar.html %}
        <div class="row about-projects">
            <p>
                Here are all of the computer and music projects that I've worked on/am working on at the moment. Click on each section to expand/collapse that section.
            </p>
        </div>

        <h2 class="section-title">
            <button data-toggle="collapse" data-target="#currentsection" aria-expanded="true" class="btn btn-link collapsed">
                <i class="fa fa-chevron-down"></i>
                Current Projects
            </button>
        </h2>
        <div id="currentsection" class="collapse">
            <div class="row match-my-cols">
            {% assign counter = 1 %}
            {% for post in site.posts %}
            {% if post.title contains "current" %}
                <div class="col-md-4 col-sm-12 post computer" id={{post.title}}>
                    <br/>
                    {{ post.excerpt }}
                    {% if post.content contains site.excerpt_separator %}
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a><br/><br/>
                    {% endif %}
                </div>
                {% assign mod = counter | modulo: 3 %}
                {% if mod == 0 %}
            </div>
            <br/>
            <div class="row match-my-cols">
                {% endif %}
                {% assign counter = counter | plus: 1 %}
            {% endif %}
            {% endfor %}
            </div>
        </div>


        <h2 class="section-title">
            <button data-toggle="collapse" data-target="#computersection" aria-expanded="true" class="btn btn-link collapsed">
                <i class="fa fa-chevron-down"></i>
                Programs
            </button>
        </h2>
        <div id="computersection" class="collapse">
            <div class="row match-my-cols">
            {% assign counter = 1 %}
            {% for post in site.posts %}
            {% if post.title contains "computer" %}
                <div class="col-md-4 col-sm-12 post computer" id={{post.title}}>
                    <br/>
                    {{ post.excerpt }}
                    {% if post.content contains site.excerpt_separator %}
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a><br/><br/>
                    {% endif %}
                </div>
                {% assign mod = counter | modulo: 3 %}
                {% if mod == 0 %}
            </div>
            <br/>
            <div class="row match-my-cols">
                {% endif %}
                {% assign counter = counter | plus: 1 %}
            {% endif %}
            {% endfor %}
            </div>
        </div>


        <h2 class="section-title">
            <button data-toggle="collapse" data-target="#musicsection" aria-expanded="true" class="btn btn-link collapsed">
                <i class="fa fa-chevron-down"></i>
                Music
            </button>
        </h2>
        <div id="musicsection" class="collapse">
            <div class="row match-my-cols">
            {% assign counter = 1 %}
            {% for post in site.posts %}
            {% if post.title contains "musical" %}
                <div class="col-md-4 col-sm-12 post musical" id={{post.title}}>
                    <br/>
                    {{ post.excerpt }}
                    {% if post.content contains site.excerpt_separator %}
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a><br/><br/>
                    {% endif %}
                </div>
                {% assign mod = counter | modulo: 3 %}
                {% if mod == 0 %}
            </div>
            <br/>
            <div class="row match-my-cols">
                {% endif %}
                {% assign counter = counter | plus: 1 %}
            {% endif %}
            {% endfor %}
            </div>
        </div>

        <br/>
        <br/>
        {% include footer.html %}
    </div>

    {% include common-script.html %}

</body>

</html>
