---
title: blog
---
<!DOCTYPE html>
<html>

<head>
    {% include common-head.html %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles/projects.css">
    {% include common-script.html %}
</head>

<body>
    {{content}}
    <h1 align="center">
        <span class="lastName">PROJECTS - </span>
        <a href="{{site.url}}">
            <span class="lastName">EASHWAR MOHAN</span>
        </a>
    </h1>

    <div class="container-fluid">
        {% include navbar.html %}
        <div class="row">
            Here are all of the computer and music projects that I've worked on/am working on at the moment! Newer projects appear at the top, and older projects appear at the bottom. Click on the title of a project or "Read more" for more information!
        </div>
        <div class="row match-my-cols">
        {% for post in site.posts %}
            <div class="col-lg-4 post" id={{post.title}}>
                {{ post.excerpt }}
                {% if post.content contains site.excerpt_separator %}
                    <a href="{{ site.baseurl }}{{ post.url }}">Read more</a><br/><br/>
                {% endif %}
            </div>
            {% assign mod = forloop.index | modulo: 3 %}
            {% if mod == 0 %}
        </div>
        <div class="row match-my-cols">
            {% endif %}
        {% endfor %}
        </div>

        <br/>
        <br/>
        {% include footer.html %}
    </div>


</body>

</html>
