/* Main CSS Tags */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Josefin Sans', sans-serif;
}

h1
{
    text-transform: uppercase;
    font-size:45px;
}

h2
{
    font-size: 33px;
    text-align: center;
    text-decoration-style: solid;
}

h3
{
    color: #C0C0C0;
    font-size: 24px;
    text-align: center;
}

h4
{
    font-size: 30px;
}

p
{
    font-size: 20px;
    color: #E8EDE7;
    vertical-align: middle;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    background-color: #5d5d5d;
}

a:link, a:visited
{
    color: #a5dfa9;
}

a:hover
{
    color: #2f6b34;
    text-decoration: underline;
}

table, th, td
{
    border: 1px solid white;
    padding: 15px;
}


/* HEADER */
.firstName
{
    color: white;
    font-weight: bold;
}

.lastName
{
    color: #E8EDE7;
    font-weight: bold;
}

/* ROWS */
.row
{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

/* ABOUT ME */
.about
{
    color: white;
    background: rgba(81, 187, 89, 0.4);
    min-height: 500px;
    border: solid #5d5d5d 10px;
}

.extlink
{
    text-align: center;
    font-size: 18px;
}

.resume
{
    background: rgba(81, 187, 89, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border: solid #5d5d5d 10px;
}

.reslink
{
    font-size: 45px;
}

/* PROJECTS */
.row.about-projects h2
{
    font-size: 40px;
}

.row.about-projects p
{
    font-size: 25px;
    padding-bottom: 1%;
    border: solid #5d5d5d 10px;
    color: #E8EDE7;
    text-align: center;
}

.section-title
{
    font-size: 40px;
    text-decoration: none !important;
}

.section-title .fa
{
  transition: .3s transform ease-in-out;
}

.section-title .collapsed .fa
{
  transform: rotate(-90deg);
}

.current h2
{
    min-height: 75px;
}

.computer h2
{
    min-height: 75px;
}

.musical h2
{
    padding-top: 20px;
    min-height: 144px;
}

.btn-link
{
    color: white;
    font-size: 40px;
}

.btn-link:hover
{
    color: white;
    text-decoration: none;
}

.btn-link:focus
{
    color: white;
    text-decoration: none;
}

.post
{
    color: black;
    background: rgba(81, 187, 89, 0.4);
    text-align: left;
    border: solid #5d5d5d 10px;
    min-height: 450px;
}

@media (min-width:961px)
{
    .row.match-my-cols
    {
        overflow: hidden;
    }

    .row.match-my-cols [class*="col-md"]
    {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

.about-203
{
    text-align: center;
}

/* FOOTER */
.footer
{
    background-color: rgba(81, 187, 89, 0.2);
    position:relative;
}

.footer.row
{
    padding-top: 30px;
    padding-bottom: 60px;
}

.btn-default
{
    color: white;
    background-color: transparent;
    margin-right: 40px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-default:focus
{
    background-color: transparent;
}
