@import url('https://fonts.googleapis.com/css2?family=Labrada&family=Rampart+One&display=swap');
html {
    height: 100%;
}

main {
    height: 100%;
    transition: opacity 0.3s linear 0s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#resumeContainer {
    height: 100%;
    width: 100%
}

h1, h2, h3, h4, h5 {
    font-family: 'Rampart One', monospace;
    text-align: center;
}

body {
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Labrada', serif;
    font-size: 25px;
    background-color: #604093;
}

.about {
    margin: 0 10vw;
    color: white;
    max-width: 1000px;
}

.about a {
    color: #98fbcc;
    transition-duration: .2s;
}

.about a:hover {
    color: #93e5ec;
}

.headshot {
    width: 250px;
    border-radius: 50%;
    border: solid 1px #98fbcc;
    background: linear-gradient(#fc97ed, #93a1f8);
}

#extLinks a {
    margin: 0 10px;
    font-size: 50px;
}

.fab, .fas {
    transition: all .2s ease-in-out;
}

.fab:hover, .fas:hover {
    transform: scale(1.2); 
}

#projects {
    display: grid;
    justify-content: center;
}

.projectWrap {
    background-repeat: no-repeat;
    background: linear-gradient(#fc97ed, #93a1f8);
    position: relative;
    padding: .6rem;
    border-radius: 10px;
    margin: 30px 5vw;
    max-width: 1000px;
}

.project {
    background: linear-gradient(#98fbcc, #93e5ec);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    margin: .6rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.projectWrap a {
    text-decoration: none;
    color: darkslategrey;
}

.projectWrap a:hover {
    text-decoration: none;
    color:black;
}

.rampart {
    font-family: 'Rampart One', monospace;
}