@font-face {
    font-family: 'Labrada';
    src: url(Labrada-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Technotot';
    src: url(Technotot.otf);
}

@font-face {
    font-family: 'FiraCode';
    src: url(FiraCode-VariableFont_wght.ttf);
}

:root {
    --primary-dark: #3d566c;
    --primary-light: #d3f5ff;
    --secondary-orange: #e59d23;
    --secondary-blay: #6f889f;
    --gradient-02: #318ba2;
    --gradient-03: #2ec3c0;
    --gradient-04: #7bfac4;
    --border-radius: 10px;
}

/***************
* FUNDAMENTALS *
***************/

.technotot {
    font-family: 'Technotot', monospace;
}

.labrada {
    font-family: 'Labrada', serif;
}

.firacode {
    font-family: 'FiraCode', monospace;
}

.text-primary-dark {
    color: var(--primary-dark)
}

.text-primary-light {
    color: var(--primary-light)
}

.text-secondary-orange {
    color: var(--secondary-orange);
    font-style: italic
}

.text-secondary-blay {
    color: var(--secondary-blay)
}

.text-gradient-02 {
    color: var(--gradient-02)
}

.text-gradient-03 {
    color: var(--gradient-03)
}

.text-gradient-04 {
    color: var(--gradient-04)
}

.bg-primary-dark {
    background-color: var(--primary-dark)
}

.bg-primary-light {
    background-color: var(--primary-light)
}

.bg-secondary-orange {
    background-color: var(--secondary-orange)
}

.bg-secondary-blay {
    background-color: var(--secondary-blay)
}

.bg-gradient-full {
    background: linear-gradient(to right, var(--primary-dark), var(--gradient-02), var(--gradient-03), var(--gradient-04));
}

.bg-gradient-partial {
    background: linear-gradient(var(--gradient-04), var(--gradient-03), var(--gradient-02));
}

.w-100 {
    width: 100%;
    margin: 0px 50px;
}

html {
    height: 100%;
}

main {
    margin-bottom: 10%;
    transition: opacity 0.1s linear 0s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Technotot', monospace;
    text-align: center;
}

body {
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Labrada', serif;
    font-size: 25px;
    background-color: var(--primary-dark);
}

.about {
    margin: 0 10vw;
    color: var(--primary-light);
    max-width: 1000px;
}

.about a {
    color: var(--gradient-03);
}

.about a:hover {
    color: var(--gradient-04);
}

.headshot {
    width: 250px;
    border-radius: var(--border-radius);
    border: solid 5px var(--secondary-orange);

}

#extLinks a {
    margin: 0 10px;
    font-size: 50px;
}

.fa-brands, .fa-solid {
    transition: all .2s ease-in-out;
}

.fa-brands:hover, .fa-solid:hover {
    transform: scale(1.2); 
}

.brand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    color: var(--primary-light);
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border-radius: var(--border-radius);
    border: 1px dashed var(--primary-light);
    box-sizing: border-box;
    margin: 50px 50px;
}

.box {
    height: 250px;
    width: 250px;
    margin: 20px 20px 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-light);
}

@media only screen and (max-width: 1400px) {
    .logo-big {
        height: 256px;
        width: 256px;
    }
}

@media only screen and (min-width: 1401px) {
    .gradient-box {
        width: 500px !important;
    }

    .gradient-box-container {
        width: 600px !important;
        max-width: 600px !important;
    }

    .brand-container > .technotot, .labrada {
        font-size: 50px;
    }
    
    .logo-big {
        height: 512px;
        width: 512px;
    }
    
    .brand-container > h1 {
        font-size: 100px;
    }
}

.brand-color-text {
    align-content: center;
    margin: 5px 0px;
}
@view-transition {
    navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}

