/* Main CSS Tags */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-display: auto;
}

h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 45px;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-decoration-style: solid;
}

h3 {
    color: #C0C0C0;
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 18px;
    color: #E8EDE7;
    vertical-align: middle;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    background-color: #5d5d5d;
}

a:link,
a:visited {
    color: #a5dfa9;
}

a:hover {
    color: #2f6b34;
    text-decoration: underline;
}

table,
th,
td {
    border: 1px solid white;
    padding: 15px;
}

.header {
    color: white;
    padding-top: 2vh;
}


/* ROWS */

.row {
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}


/* ABOUT ME */

.about {
    color: white;
    background: rgba(81, 187, 89, 0.4);
    padding: 3vh;
}

.extlink {
    text-align: center;
    font-size: 18px;
}

.resume {
    min-height: 30vh;
    background: rgba(81, 187, 89, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reslink {
    font-size: 45px;
}


/* PROJECTS */

#currbtn {
    background: rgba(81, 187, 89, 0.4);
}
#codebtn{
    background: rgba(30, 177, 214, 0.4);
}
#musbtn{
    background: rgba(124, 30, 212, 0.4);
}


.about-projects {
    color: white;
    background-color: #5d5d5d;
    border: 0;
    padding: 3vh;
    justify-content: center;
}

.post h2 {
    min-height: 70px;
}

.post {
    color: black;
    text-align: left;
    padding: 3vh;
    padding-bottom: 5vh;
}

@media (max-width: 575px) {
    .btn-secondary {
        font-size: 12px;
    }
    
}

@media (min-width: 576px) {
    .post {
        min-width: 47vw;
        max-width: 47vw;
    }
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) { 
    .post{
        max-width: 33vw;
    }
}

@media (min-width: 992px) {
    .post {
        min-width: 30vw;
        max-width: 30vw;
    }
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

.computer{
    background: rgba(30, 177, 214, 0.4);
}
.musical{
    background: rgba(124, 30, 212, 0.4);
}

.card-deck{
    justify-content: center;
}

/* FOOTER */

.footer {
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
}