/**********
* PROJECT *
**********/
.bandcamp{
    border: 0;
    width: 180px;
    height: 294px;
    margin: 0 auto;
}

.project {
    background-repeat: no-repeat;
    background: linear-gradient(#fc97ed, #93a1f8);
    position: relative;
    margin: 5vw 20vw;
    padding: .6rem;
    border-radius: 10px;
}

.projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(#98fbcc, #93e5ec);
    padding: 3rem;
}

.project a {
    text-decoration: none;
    color: #604093;
    transition-duration: .2s;
}

.project a:hover {
    text-decoration: none;
    color: #93a1f8;
}

@media only screen and (max-width: 550px) {
    .project h1, 
    .project h2,
    .project h3,
    .project h4,
    .project h5 {
        font-size: 6vw;
    }
    .project {
        margin: 5vw 5vw;
    }
}