body {
    font-family: 'Raleway', sans-serif;
    background-color: #E8EDE7;
}
table, th, td {
    border: 1px solid black;
    padding: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 17px;
    /*color: #E8EDE7;*/
    vertical-align: middle;
}

a:link, a:visited {
    color: #51bb59;
}

a:hover {
    color: #2f6b34;
    text-decoration: underline;
}
/* Rows */
.row {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}


/*BEFORE ROW 1*/

.firstName {
    color: white;
    font-weight: bold;
}

.lastName {
    color: black;
    font-weight: bold;
    /*color: #E8EDE7;*/
}


/*ROW 1: ABOUT*/

.about {
    color: black;
    background-color: rgba(81, 187, 89, 0.2);
    min-height: 500px;
    border: solid #E8EDE7 2.5px;
}

.extlink {
    text-align: center;
    font-size: 18px;
}

.resume {
    background-color: rgba(81, 187, 89, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border: solid #E8EDE7 2.5px;
}

.reslink {
    font-size: 45px;
}

.about-203{
    text-align: center;
}

/*ROW 2: A POST AND TWITTER FEED*/

.post {
    color: black;
    background: rgba(81, 187, 89, 0.2);
    text-align: left;
    border-top: solid #E8EDE7 5px;
}

.twitter-feed {
    border-top: solid #E8EDE7 5px;
}

/*FOOTER*/

.footer {
    background-color: rgba(81, 187, 89, 0.2);
}
.footer.row{
    padding-top: 30px;
    padding-bottom: 60px;
}
